
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
#logo img{
    height: 80px;
}
body {
    line-height: 1.6; /*para poner interlineado*/
    color: #333;
    background-color: #f9f9f9;
}
a {
    text-decoration: none;
}
/* cuerpo */
header {
    background-color: #a50044;
    color: white;
    padding:5px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.5s;
}
nav ul li a:hover {
    background-color: #004d98;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("fondo.jpg") center; /*para el fondo de la imagen que se oscuresca un poco y qu el texto se ponga en el centro*/
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
}
.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}
.hero p {
    font-size: 150%;
}

.noticias-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*para definir el alto y ancho de las noticias   */
    gap: 20px;
    padding: 5px;
}
.noticias{
    text-align: center;
}
.noticia {
    background: black;
    color: white;
    border-style: dashed; /*borde noticias*/
    border-radius: 15px;
    transition: transform 0.4s;
}

.noticia:hover {
    transform: scale(1.20);
}

.noticia img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* para que no estire la imagen o la haga mas pequeña hace que se recorte la img*/
    border-radius: 15px;
}

.noticia h3 {
    padding: 8px 8px 0;
}

.noticia p {
    padding: 0 8px 8px;
}

footer {
    background-color: #004d98;
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: 18px;
}
.social a {
    color: white;
    margin: 0 5px;
    padding: 5px;
}
.social a:hover { /*para que cambie de color al ponerse en el */
    background-color: #a50044;
    border-radius: 5px;
}

/* Estilos para la página de historia */
.historia {
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.periodo {
    margin-bottom: 40px;
}

.periodo h2 {
    color: #a50044;
    margin-bottom: 10px;
}

.periodo img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}

/* Estilos para la página de plantilla */
.jugadores {
    text-align: center;
    background: #a50044;
    color: black  ;
    border-radius: 15px;
    transition: transform 0.4s;
}

.jugadores:hover {
    transform: scale(1.10);
    background-color: #004d98;
}

.jugadores img {
    width: 80%;
    height: 400px;
    object-fit: cover; /* para que no estire la imagen o la haga mas pequeña hace que se recorte la img*/
}
.plantilla {
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.filtros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 16px 0;
}

.filtro-btn {
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.filtro-btn:hover {
    background-color: #a50044;
    color: white;
    border-color: #a50044;
}

.jugadores-grid {
    padding: 5px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /*para definir el alto y ancho de las noticias   */
    gap: 20px;
    padding: 5px;
    background-color: #a50044;
}

/* Estilos para la página de palmarés */
.palmares {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.tab-btn {
    padding: 7px 14px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tab-btn:hover {
    background-color: #004d98;
    color: white;
    border-color: #004d98;
}

.tab-content {
    padding: 7px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}
.titulos-lista {
    display: flex;
    line-height: 2.6;
    text-align: center;
    columns: 3;
    list-style: none;
}

@media (max-width: 768px) {
    .titulos-lista {
        flex-direction: column;
        
    }
}

@media (max-width: 480px) {
    .titulos-lista {
        flex-direction: column;
    }
}
/*para el quizz*/
.t1{
    background-color: #004d98;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.t2{
    background-color: #a50044;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.quizzz{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}
table{
     width: 100%;
     height: 600px;
}
/*soporte*/

.for1{
    padding: 5px;
    max-width: 1100px;
    margin: 0 auto;
}
#algo input{
    padding: 15px;
    border-radius: 10px; 
    display: flex;
    width: 100%;
}
